#maintitle{
	text-align:center;
	font-size:3vw;
	color:FireBrick;
	text-shadow: 0 1px 0 #888, 0 2px 0 #888,
        0 3px 0 #888, 0 4px 0 #888,
        0 5px 0 #888, 0 6px 0 #888,
        0 7px 0 #888, 0 8px 0 #888,
        0 9px 0 #888, 0 10px 0 #888,
        0 11px 0 #888, 0 12px 0 #888,
        0 20px 30px rgba(132, 100, 100, 1);
}
body {
  	font-family: 'Brush Script MT', cursive;
}
.header {
  	border-radius: 15px 50px 30px;
  	background: #CFC400;
	position: absolute;
  	padding: calc(2vw + 1px);
	justify-content: center;
	display: flex;
	align-items: center;
	font-size:2vw;
}
body{
   	font-family: 'Blippo', fantasy;
}
.whiteText {
	text-color: white;
}
.links {
       	width: 150px;
	height: 25px;
} 
.cp {
       width: 210px;
       height: 15px;
       left: 515px;
       bottom: 200px;
}
.discord {
	left: 330px;
	top: 150px;
	border-radius: 30px;
	background: #212226;
	color: #5A64EC;
	position: absolute;
	display: grid;
	padding-left: 65px;
	padding-right:  65px;
	justify-content: center;
	font-size: 1.5vw;
}
body {
   	font-family: 'Blippo', fantasy;
}
.img {
       position: absolute;
       align-items: center;
       justify-content: center;
}
.pmc-pos1 {
       width: 75px;
       height: 75px;
       top: 300px;
       left: 80px;
}
.pmc-pos2 {
       width: 75px;
       height: 75px;
       bottom: 105px;
       left: 1105px;
}
.tim-for {
       width: 85px;
       height: 85px;
       bottom: 100px;
       left: 50px;
}
.chim-bot {
	width: 75px;
	height: 75px;
	bottom: 105px;
	left: 380px;
}
.dev-desk {
	width: 45px;
	height: 85px;
	bottom: 90px;
	left: 710px;
}
.sipilus {
	width: 75px;
	height: 75px;
	bottom: 105px;
	left: 995px;
}
.tag-link {
	right: 80px;
	top: 300px;
	height: 75px;
	width: 75px;
}
.yt-pos1 {
       width: 120px;
       height: 65px;
       bottom: 111px;
       left: 150px;
}
.yt-pos2 {
       width: 120px;
       height: 65px;
       bottom: 111px;
       left: 480px;
}
.yt-pos3 {
       width: 120px;
       height: 65px;
       bottom: 111px;
       left: 790px;
}
.desc-txt {
	font-size: 1.5vw;
	position: absolute;
	color: GoldenRod;
}
.tfdesc {
	bottom: 40px;
	left: 83px;
}
.cbdesc {
	bottom: 40px;
	left: 412px;
}
.dddesc {
	bottom: 40px;
	left: 741px;
}
.sipdesc {
	bottom: 40px;
	left: 1050px;
	color: #C9960A;
}
.constr {
	width: 110px;
	height: 50px;
	top: 150px;
	left: 875px;
}
.grid-top {
  align-self: start;
  color: #5C62F8;
}
.grid-bottom {
  align-self:end;
  color: #FFFFFF;
}
body {
	font-family: 'Sarif';
}
.tooltip {
	position: relative;
}
.tooltip:before {
  content: attr(data-copyText);
  position:absolute;
  
  /* vertically center */
  bottom: 45px;
  left: 43px;
  
  /* basic styles */
  width:80px;
  padding:5px;
  border-radius:5px;
  background: #555;
  color: #008500;
  text-align:center;

  display:none; /* hide by default */
}
.tooltip:hover:before {
  display:block;
}
.tooltip:after {
  content: "";
  backround: #555;
  position: absolute;
  left: 80px;
  bottom: 26px;
  border:10px solid #555;
  display: none;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover:before, .tooltip:hover:after {
  display:block;
}
